/* You can add global styles to this file, and also import other style files */
@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material';

html, body {
    background-color: #171717;
}
nav {
    background-color: #263238;
    opacity: 0.9;
}
.navbar-brand {
    margin: 0 10%;
}

.CodeMirror {
    height: 90%;
    width: 80%;
    margin: auto;
    border-radius: 5px;
}