.full-view-height {
    height: 70vh;
    margin: 5%;
}

.language-row {
    height: 15%;
    vertical-align: auto;
}

.select-box {
    height: 40%;
    width: 20%;
    text-align: center;
    font-size: large;
}

.convert-button, select {
    background-color: #263238;
    color: #FFFFFF;
}

select {
    border-radius: 5px;
    border: 0;
}

.example-margin {
    margin: 0 10px;
}
