<div class="full-view-height">
    <form class="h-100 w-100" #convertForm="ngForm" (ngSubmit)="onConvert(convertForm.value)">
        <div class="row language-row">
            <div class="col-6 text-center">
                <label for="languageFrom"></label>
                <select class="select-box" required name="languageFrom" [(ngModel)]="languageFrom">
                    <option *ngFor="let language of languages" [ngValue]=language>{{ language }}</option>
                </select>
            </div>
            <div class="col-6 text-center">
                <label for="languageTo"></label>
                <select class="select-box" name="languageTo" required [(ngModel)]="languageTo">
                    <option *ngFor="let language of languages" [ngValue]=language>{{ language }}</option>
                </select>
            </div>
        </div>
        <div class="row h-75">
            <div class="col-6 text-center">
                <label for="code"></label>
                <textarea id="code" name="code" type="text" class="code" autocorrect="off" autocapitalize="none" spellcheck="false" role="textbox" wrap="off" overflow="auto" required ngModel></textarea>
            </div>
            <div class="col-6 text-center">
                <textarea class="code" autocorrect="off" autocapitalize="none" spellcheck="false" role="textbox" wrap="off" overflow="auto"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button class="btn btn-primary">Convert</button>
            </div>
        </div>
    </form>
</div>